<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_URI} ^/storage/ [NC]
	RewriteRule ^ - [L]

	RewriteCond %{REQUEST_URI} !^/public/
	RewriteRule ^(.*)$ public/$1 [L]

	RewriteRule ^(\.env|composer\.lock|composer\.json|artisan) - [F,L]

	RewriteRule ^(app|bootstrap|config|database|resources|routes|vendor)/.*$ - [F,L]
</IfModule>

Options -Indexes